<%- include('../partials/html-head') %>

</head>
<body  class="homePage">
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">
    <div class="d-flex justify-content-sm-between flex-column flex-sm-row align-items-center">
      <h5 class="p-1">Book List</h5>
      <form action="/book/search" method="POST" class="d-flex align-items-center me-3">
        <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning">
          <img  src="/images/book/logo/search.svg" alt="search">
        </button>
      </form>
    </div>
      
      <div 
      class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g5 g-sm-3 g-xxl-5 px-sm-5 px-4 py-3">
      <% results?.forEach((book) => { %>
        <div class="col">
          <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 17rem;">
            <div class="row">
              <div class="col-8">
              </div>
              <div class="col">
            <a class="btn btn-outline-warning" href="/book/<%= book.id %>"><span> ••• </span></a>
          </div>
        </div>
                <img src="<%= book.volumeInfo?.imageLinks?.thumbnail %>" class="card-img-top" alt="Placeholder Img">
                <div class="card-body">
                  <h5 class="card-title text-center"><%= book.volumeInfo.title  %> </h5>
                  <p class="mb-0 text-center">Authors</p>
                  <p class="mb-1 text-center"><%= book.volumeInfo.authors %></p>
                  <p class="mb-0 text-center custom-text">Description</p>
                  <% if (book.volumeInfo.description?.length > 100) { %>
                  <p class="mb-3 text-center custom-text"><%= book.volumeInfo.description.substring(0,100) + "..." %></p>
                  <% } else { %> 
                  <p class="mb-3 text-center custom-text"><%= book.volumeInfo.description %></p>
                  <% } %>
                  </div>
        </div>
      </div>
      <% }) %> 
    </div>
    
         
    
  </div>
</main>


<%- include('../partials/footer') %>
